body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #878787;
  font-size: 12px;
  margin: 0;
  list-style-type: none;
  line-height: 1.2;
  padding: 0;
  text-transform: capitalize;
}

.weather-app {
  padding: 10px;
  position: relative;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
}
.weather-temperature img {
  margin: -15px;
  height: 64 !important;
  width: 64 !important;
}
.degrees {
  margin-left: -11px;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature small {
  line-height: 19px;
  position: relative;
  top: 1px;
}
.weather-app-closing {
  max-width: 600px;
  margin: 16px auto;
}
.weather-temperature .active {
  color: #212529;
  cursor: default;
}
.weather-temperature .active :hover {
  text-decoration: none;
}
.weekday-weather {
  color: #bcbcbc;
}
